extends ../../layout/home
  
block left_content


  article.feed-row
    .post-header
      .post-author
        if author.avatar
          a.post-author-ava(href="/" + post.behalf + "/" + author.login)
            img.author-ava(src="/files/" + post.behalf + "/" + author.login + "/ava-60.jpg")

      .post-info
        .author-name
          a(href="/" + post.behalf + "/" + author.login)= author.fname + ' ' + author.sname
          .post-date
            span.date-day= post.created.getDate()
            span.date-month(data-value=post.created.getMonth())= post.created.getMonth()
            span.date-year(data-value=post.created.getFullYear())= post.created.getFullYear()
        span.post-title= post.title

    
    .post-event
      .event-data
        .city
          span.key Город:
          span.val= post.city
        .adress
          span.key Адрес:
          span.val= post.address
        .date
          span.key Дата:
          span.val= post.date.getDate() + '.' + post.date.getMonth() + '.' + post.date.getFullYear()
        //- .dateTo
        //-   span.key Конец:
        //-   span.val= post.data.dateTo.d + '.' + post.data.dateTo.m + '.' + post.data.dateTo.y + ' в ' + post.data.dateTo.H + ':' + post.data.dateTo.M
        .price
          span.key Цена:
          span.val= post.price
    .post-text!= post.text
    if post.avatar
      .post-preview
        img(src="/files/event/" + post.latUrl + "/ava-prev.jpg")


block right_content
  